jira_search_task:
  description: >
    Search for relevant JIRA tickets related to {query}. Use the JIRA Ticket Search tool 
    to find tickets. Analyze the results and 
    provide insights about the tickets found, including patterns, priorities, and potential 
    relationships between tickets.
  expected_output: >
    A comprehensive analysis of relevant JIRA tickets including:
    - List of found tickets with summaries
    - Analysis of ticket patterns and priorities  
    - Insights about potential relationships
  agent: jira_specialist



confluence_search_task:
  description: >
    Search for relevant documentation and knowledge articles from Confluence related to {query}. 
    Use the Confluence RAG tool to find documentation that is semantically similar to the query. 
    Analyze the results and provide insights about the documentation found, including content 
    patterns, knowledge coverage, and potential gaps in documentation.
  expected_output: >
    A comprehensive analysis of relevant Confluence documentation including:
    - List of found documentation with summaries and links
    - Analysis of content patterns and knowledge coverage
    - Insights about documentation quality and completeness
    - Relationships between different documentation pieces
  agent: confluence_specialist

# codebase_analysis_task:
#   description: >
#     Based on the context given from jira_search_task and confluence_search_task, find keywords related to {query} and 
#     analyze the codebase to find relevant code snippets related to {query}. Use the Code Base Search tool
#     to find code that is semantically similar to the query. Examine the code structure, patterns, 
#     and provide insights about the implementation, potential issues, and improvement opportunities.
#   expected_output: >
#     A detailed code analysis report including:
#     - List of relevant code snippets with file locations
#     - Identification of potential issues or improvements
#     - Relationships between different code components
#   agent: codebase_specialist

reporting_task:
  description: >
    Review the context you got and expand each task output into a full section for a report.
    Make sure the report is detailed and contains any and all relevant information. 
    DO NOT Summarize information. Numerical information should be preserved in its original form.
  expected_output: >
    A fully fledged report with the main topics, each with a full section of information.
    Take context from codebase analysis, and show the relevant code snippets.
    Take context from JIRA search, and show the relevant tickets.
    Take context from Confluence search, and show the relevant documentation.
    Formatted as markdown without '```'
  agent: reporting_analyst
  output_file: >
    report.md
  